*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
     font-family: 'Poppins', sans-serif;
    color: #FFF;
}
ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}
a {
    text-decoration: none;
    filter: none;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
    filter: none;
}
img {
    display: block;
    max-width: 100%;
    filter: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1245px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

/*================ HEADER ===============*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
}
.header-logo {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 120px;
}
.logo-1 {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}
.logo-2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: #000;
}
.menu {
    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 36px;
}
.menu-item {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.address-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 36px;
}
.address-item {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
    color:#3957FF;
}

/*===========HOME PAGE=============*/
.home-page {
    padding-top: 142px;
    padding-bottom: 212px;
    background-image: url(../images/back-ground-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .home-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob-2x.jpg);
    }
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-tittle {
    width: 894px;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    margin: 0;
}
.hero-text {
    width: 786px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}
.hero-button {
    width: 189px;
    height: 64px;
    border-radius: 7px;
    background: #3957FF;
    box-shadow: 0px 20px 100px 0px #1C3693;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #1C3693;
}
/*============ABOUT US==============*/
.about-us {
    padding-top: 104px;
    padding-bottom: 106px;
}
.container {}

.container-about-us {
    max-width: 1230px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.about-tittle {
    color: #454545;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.about-second-tittle {
    width: 648px;
    color: #000;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 0; 
}
.about-text {
    width: 736px;
    color: #454545;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.about-us-button {
    width: 189px;
    height: 64px;
    border-radius: 7px;
    background: #3957FF;
    box-shadow: 0px 20px 100px 0px #1C3693;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us-button:hover,
.about-us-button:focus {
    background-color: #1C3693;
}
.about-us-img {
    border-radius: 7px;
    position: absolute;
    right: 15px;
    bottom: 100px;
    transform: translateY(30%);
}
.reactangle-2 {
    width: 481px;
    height: 239px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-95%);
    border-radius: 7px;
    background: #3957FF;
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.40), 0px 50px 100px 0px rgba(45, 91, 255, 0.20);
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    align-content: center;
    padding: 17px 69px 22px 68px;
    justify-content: flex-end;
}
.reactangle-tittle {
    width: 344px;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
}
.reactangle-text {
    width: 323px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
}
.reactangle-phone {
    color: #FFF;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    
}